
/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px 20px;
    background: linear-gradient(130deg, rgba(10, 32, 74, 0.8),rgba(26, 106, 192, 0.8) );
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 1%;
    left: 50%;
    z-index: 1000;
    width: 90%;
    transform: translateX(-50%);
    border-radius: 15px;
} 
.navbar-logo {
    display: flex;
    align-items: center;
}
.navbar-logo h4{
    color: #92a3ca;
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 10px;
}

.navbar-links {
    flex-grow: 1;
}

.navbar-links ul,.fav-bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 5%;    

    
}

.navbar-links a , .fav-bar a{
    color: #cfddff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;

}

.navbar-links a:hover {
    color: #060429;
}


/* General styling for the welcome page */
.welcome-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.welcome-page img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.9;
    
}


.welcome-content {
    max-width: 800px;
    padding: 30px;
    color: aliceblue;
    border:5px solid #2a5eac;
    background-color:rgba(14, 39, 71, 0.478);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.welcome-content h1 {
    font-size: 5rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.welcome-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    font-weight: 500;
}

.welcome-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;

}

.welcome-buttons button {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    background:linear-gradient(100deg,rgba(58, 137, 222, 0.7), rgba(30, 44, 69, 0.7) );
    
}
.welcome-buttons button a {
    color: #fff;
    text-decoration: none;
}

.welcome-buttons button:hover{
    background:linear-gradient(100deg,rgba(14, 115, 223, 0.7), rgba(4, 27, 67, 0.7) );

}

/* Media query for mobile phones (max-width: 480px) */
@media (max-width: 768px) {

/* Navbar adjustments */
.navbar {
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.navbar-logo h4 {
    font-size: 1rem;
}
.navbar-links ul {
    gap: 10px;
}
.navbar-links a {
    font-size: 12px;
}

/* Welcome page adjustments */
.welcome-page {
    padding: 10px;
}
.welcome-content {
    padding: 15px;
    overflow: auto;
}
.welcome-content h1 {
    font-size: 2rem;
}
.welcome-content p {
    font-size: 0.9rem;
}
.welcome-buttons {
    flex-direction: column;
    gap: 5px;
}
}
