/* Property.css */
.search-container {
  position: relative;
  height: 500px;
  background-image: url('https://cdn.pixabay.com/photo/2016/11/29/03/53/house-1867187_1280.jpg' );
  background-size:cover;
  background-position:center;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.form-container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  background: #fafafd;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  gap: 40px; 
}

.search-criteria {
  flex: 1 1 30%;  
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search-criteria label {
  font-size: 1em;
  font-weight: 500;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  gap: 5px;
}



/*style for dropdown*/
.district-dropdown,.type-dropdown{
  border:1px solid #d2c2e8;
  color: #585858;
}


/* Input group for Price Range */
.input-group { 
  gap: 0.5rem; 
}



.submit-button {
  display: flex;
  justify-content:center;
  gap: 10px;
  max-width:60%;
  background:linear-gradient(135deg,#2482e6, #093581b3);
  padding: 12px;  
  font-size: 16px;
  margin-top: 10%;
}
.icon{
  color: #113e81;

}

.submit-button:hover {
  background: #2482e6;
}

.submit-button .icon {
  color: #ffffff;
}


/* properties containers */

.properties-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 50px;
}

/* Styling for individual property cards */
.property-image-container {
  position: relative;
  
}
.property {
  background: #f6f9fd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease;
  margin-bottom: 10px;
  border: 1px solid #e0e0e0;
  
}

.property:hover {
  transform: translateY(-5px); 
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}


.property-image {
  width: 100%;
  height: 200px;

}

.property-details{
  padding: 15px;
}

.property-title {
  margin-bottom: 10px;
  font-size: 1.25rem;
  font-weight: 700;
}
.property-title a {
  color: #3450dc;
  text-decoration: none;
}

.property h3 a:hover {
  color: #105383; 
  text-decoration: none;
}
.short-description {
  margin-bottom: 10px;
  font-size: 0.9rem;
  color: #666; 
} 
.property-features {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; 

}
.bedrooms, .district,.type{
  font-size: 0.9rem;
  color: #242424; 
  background-color: #c1d4ff37;
  padding: 2px 10px;
  border-radius: 5px;

}


p.price {
  margin-top: 5px;
  font-weight: 600;
  color: #000000; 
  background-color: #d6ddff;
  padding: 5px 15px;
  border-radius: 5px;
  display: inline-block;

}



@media (max-width: 768px) {

  /* Navbar adjustments */
  .navbar {
      flex-direction:column;
      justify-content: center;
      align-items: center;
      padding: 5px; 
  }
  .navbar-logo h4 {
      font-size: 1rem;
  }
  .navbar-links ul {
      gap: 10px;
  }
  .navbar-links a {
      font-size: 12px;
  }
  /* Search container */
  .search-container {
    height: auto;
    padding: 20px;
    background-size: cover;
  }
  .form-container {
    margin-top: calc(50vh - 250px);
    flex-direction: column;
    padding: 10px;
    gap: 20px;
  }
  .search-criteria {
    flex: 1 1 auto;
  }
  .submit-button {
      max-width: 100%;
      margin-top: 20px;
      
  }
    /* Properties container */
    .properties-container {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      padding: 20px;
      
    }
    .property {
      margin: 0 auto;
    }
  
  


}



















